<h3 id="side-by-side-viewer">Side By Side viewer</h3>
<p>Нажмите сравнить переводы на верхней панели. Появится меню в нижней части экрана, где вы сможете выбрать варианты переводов.</p>
<p>Вы можете поделится ссылкой на те варианты переводов, которые выбрали. Для этого просто скопируйте ссылку в адресной строке браузера.</p>
<hr>
<p>Этот проект построен по принципу свободного программного обеспечения, <a href="https://github.com/tasuki/side-by-side">получите исходный код здесь</a>!</p>
<p>Создатель: <a href="http://tasuki.org">Vít Brunner</a>.</p>
<p>Комментарий от создателя: <em>"This used to be work in progress. Now it&#39;s just what it is."</em></p>
